*{
    margin: 0;
    font-family: 'Arial, Helvetica, sans-serif';
    border: "box-border";
}

/* navbar styling */

.navbar{
    background-color: #0F1111;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    /* width: 100%; chaho toh add kar sakte ho but apne aap hi le lega*/
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* navbar address styling */

.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* isko add kiya hai taaki location ka icon and india same line mein aa jaye */

/* navbar search area styling */

.nav-search{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    /* select ko by default ek border milta hai, usko hata do */
}
.search-input{
    width: 100%;
    padding: 7px 10px 10px 0px;
    font-size: 1rem;
    border: none;
    /* input ko by default ek border milta hai, usko hata do */
}
.search-icon{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    /* horizontally centre karega */
    align-items: center;
    /* vertically centre karega */
    background-color: #febd68;
    font-size: 1.2rem;
    justify-content: center;
    color: #0F1111;
}

/* account & orders styling */

span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart styling */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
} 


/* navbar styling done */

/* panel styling start */

.panel{
    display: flex;
    background-color: #222f3d;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    padding: 8px 9px;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-options p{
    display: inline;
    margin-left: 10px;
}
.panel-deals{
    font-weight: 700;
    font-size: 0.9rem;
}